body{
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#section-1{
    background-color: #ad900e;
    height: 600px;
}
.container{
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}
header{
    padding: 55px;
    display: flex;
    justify-content: space-around;
}
nav ul li{
    display: inline-block;
    padding: 10px 16px;
}
nav ul li a{
    text-decoration: none;
    color: white;
}
nav ul li.active{
    background-color: #463b02;
    border-radius: 5px;
}
.main-heading{
    margin-top: 148px;
    text-align: center;
}
.main-heading h1{
    color: white;
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 60px;
}
.main-heading a{
    text-decoration: none;
    background-color:  #463b02;
    font-size: 18px;
    text-transform: uppercase;
    color: white;
    border-radius: 5px;
    padding: 25px 85px;
}
#section-2{
    background-color: goldenrod;
    min-height: 745px;
    color: white;
}
.title-box{
    text-align: center;

    max-width: 609px;
    margin-left: auto;
    margin-right: auto;
}
.title-box{
    margin-top: 0px;
    margin-bottom: 10px;
    padding-top: 100px;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
}
.title-box .line{
    width: 87px;
    height: 4px;
    background-color: rgba(0, 0, 0, 0.15);;
    margin-left:  auto;
    margin-right: auto; 
}
.services-box{
    margin-top: 80px;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    width: 90%;
    padding-bottom: 100px;
}
.service{
    width: 24%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.service img{
    width: 200px;
}
#section3{
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color:white;
    background-color: #8f5702;
}
#contact-form{
    max-width: 860px;
    margin-left: auto;
    margin-right: auto;
}
.form-row{
    display: flex;
}
input[type="text"],input[type="email"]{
    width: 46%;
    height: 56%;
}
input[type="text"],input[type="email"], textarea{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(218, 133, 7);
    background-color: #dc8c14;
    border: none;
    font-size: 19px;
    margin: 16px;
    border-radius: 6px;
    padding-left: 26px;
}
textarea{
    height: 200px;
    width: 1000px;
    padding-top: 24px;
}
input[type="submit"]{
    background-color: #dc8c14;
    border: none;
    font-size: 18px;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    margin-top: 60px;
    margin-bottom: 10px;
}
.big-button{
    padding: 25px 85px;
    color: rgb(99, 68, 1);
}
.footer{
    background-color: #273a71;
}
.footer-links{
    max-width: 945px;
    margin-left: auto;
    margin-right: auto;
}
footer ul{
    margin: 0px;
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
}
.footer-links ul li{
    display: inline-block;
    padding: 10px 20px 10px 20px;
}
.footer-links ul li a{
    text-decoration: none;
    color: rgb(233, 157, 17);
    font-size: 24px;
}

@media only screen and (max-widh:800px){
    header{
        flex-direction: column;
    }
    nav ul li{
        width: 100%;
        text-align: center;
    }
    header img{
        margin-left: auto;
        margin-right: auto;
    }
    .main-heading h1{
        font-size: 20px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .main-heading a{
        margin-top: 0;
        padding: 25px;
    }
    .main-heading{
        margin-top: 0;
    }
    nav ul li .active{
        padding-right: 0;
    }
    nav ul{
        padding-left: 0;
    }

}