div#translate{
    width: 200px;
    height: 200px;
    border-radius: 5px;
    color: white;
    background-color: darkblue;
    transform: translate(100px,50px);
    padding: 10px;
}
div#rotate{
    width: 200px;
    height: 200px;
    border-radius: 5px;
    color: white;
    background-color: cyan;
    transform: rotate(180deg);
    padding: 10px;
    margin-top: 100px
}
div#scale{
    width: 200px;
    height: 200px;
    border-radius: 5px;
    color: hotpink;
    background-color: gray;
    transform: scale(0.7,0.7);
    padding: 10px;
    margin-top: 100px;
}
div#scalex{
    width: 200px;
    height: 200px;
    border-radius: 5px;
    color: orange;
    background-color: rgb(7, 88, 88);
    transform: scaleX(3);
    padding: 10px;
    margin-top: 100px;
    margin-left: 300px;
}
div#scaley{
    width: 200px;
    height: 200px;
    border-radius: 5px;
    color: rgb(140, 0, 255);
    background-color: rgb(8, 223, 79);
    transform: scaleY(2);
    padding: 10px;
    margin-top: 300px;
    
}
div#skewx{
    width: 200px;
    height: 200px;
    border-radius: 5px;
    color: rgb(184, 10, 24);
    background-color: rgb(0, 0, 0);
    transform: skewX(5);
    padding: 10px;
    margin-top: 300px;
    margin-left: 100px;
}
div#skewy{
    width: 200px;
    height: 200px;
    border-radius: 5px;
    color: rgb(184, 10, 24);
    background-color: rgb(0, 0, 0);
    transform: skewY(2);
    padding: 10px;
    margin-top: 300px;
    margin-left: 50px;
}
div#rotatex{
    width: 200px;
    height: 200px;
    border-radius: 5px;
    color: rgb(1, 26, 255);
    background-color: rgb(0, 255, 98);
    transform: rotateX(130deg);
    padding: 10px;
    margin-top: 300px;
    margin-left: 50px;
}
div#rotatey{
    width: 200px;
    height: 200px;
    border-radius: 5px;
    color: rgb(1, 26, 255);
    background-color: rgb(0, 255, 98);
    transform: rotateY(130deg);
    padding: 10px;
    margin-top: 300px;
    margin-left: 50px;
}
div#rotatez{
    width: 200px;
    height: 200px;
    border-radius: 5px;
    color: rgb(1, 26, 255);
    background-color: rgb(0, 255, 98);
    transform: rotateZ(130deg);
    padding: 10px;
    margin-top: 300px;
    margin-left: 50px;
}
div#transition{
    width: 200px;
    height: 200px;
    background: red;
    transition: background 3s, border-radius 5s;
    transition-timing-function: ease-in;
    transition-delay: 2s;
}
div#transition:hover{
    background: blue;
    border-radius: 50%;
}
div#transition2{
    width: 200px;
    height: 200px;
    margin-top: 20px;
    background: gold;
    transition: .3s ease-in-out;
}

div#transition2:hover{
    background: darkblue;
    transform: scale(1.3);
    filter: grayscale(0);
}