.container{
    background-color: lightblue;
    border: 5px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
}
.container div{
    background-color: white;
    border: 2px solid darkblue;
    padding: 20px;
    margin: 20px;
    font-size: 35px;
    width: 100px;
    height: 30px;
}
.container div:nth-child(1){
    order: 2;

}
.container div:nth-child(2){
    flex-grow: 8;
    
}
.container div:nth-child(3){
    flex-grow: 8;
    
}
.container div:nth-child(4){
    order: 1;
    
}
.container2{
    background-color: rgb(59, 39, 231);
    border: 5px solid rgb(77, 255, 255);
    display: flex;
    flex-direction: row-reverse;
}
.container2 div{
    background-color: white;
    border: 2px solid rgb(214, 145, 55);
    padding: 20px;
    margin: 20px;
    font-size: 35px;
    width: 100px;
    height: 30px;
}
.container3{
    background-color: rgb(255, 0, 170);
    border: 5px solid rgb(24, 0, 158);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.container3 div{
    background-color: white;
    border: 2px solid rgb(0, 255, 191);
    padding: 20px;
    margin: 20px;
    font-size: 35px;
    width: 100px;
    height: 30px;
}
.container4{
    background-color: rgb(255, 0, 170);
    border: 5px solid rgb(24, 0, 158);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.container4 div{
    background-color: white;
    border: 2px solid rgb(0, 255, 191);
    padding: 20px;
    margin: 20px;
    font-size: 35px;
    width: 100px;
    height: 30px;
}
.container4 div:nth-child(2){
    align-self: flex-end;
}
.container5{
    background-color: rgb(255, 0, 170);
    border: 5px solid rgb(24, 0, 158);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.container5 div{
    background-color: white;
    border: 2px solid rgb(0, 255, 191);
    padding: 20px;
    margin: 20px;
    font-size: 35px;
    width: 100px;
    height: 30px;
}
.container5 div:nth-child(1){
   height: 20px;

}
.container5 div:nth-child(2){
    height: 100px;
    
}
.container5 div:nth-child(3){
    height: 50px;
    
}
.container5 div:nth-child(4){
    height: 130px;
    
}
.container6{
    background-color: rgb(255, 0, 170);
    border: 5px solid rgb(24, 0, 158);
    display: flex;
    flex-direction: row;
    height: 800px;
    align-content: space-around;
    flex-wrap: wrap;
}
.container6 div{
    background-color: white;
    border: 2px solid rgb(195, 0, 255);
    padding: 20px;
    margin: 20px;
    font-size: 35px;
    width: 400px;
    height: 200px;
}